<form method="post" action="{{ path('rate_delete', {'id': rating.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rating.id) }}">
    <button class="btn">Delete</button>
</form>
