<form class="formRating" name="rating" method="post">
    {{ form_widget(form.description, {'attr': {'placeholder': "Avis de l'utilisateur", 'style': 'max-width:273px; max-height:70px; overflow:none'}})}}
    {{ form_widget(form.rate, {'attr': {'placeholder': "Note de l'utilisateur"}})}}
    <div class="status">
    <label for="status">Status</label>
    {{ form_widget(form.status)}}
    </div>
    
    <button class="btn"><i class="fas fa-check"></i></button>
</form>
