{% extends 'base.html.twig' %}

{% block title %}Modifier un avis{% endblock %}

{% block body %}
    <div class="backPrevious">
        <a href="{{ path('rate_index') }}"><i class="fas fa-arrow-left"></i></a>
    </div>

    <div class="container-new">
        <div class="newRating">
            <h1>Modifier l'avis</h1>
            {{ include('rate/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>

    {# {{ include('rate/_delete_form.html.twig') }} #}
{% endblock %}
