{% extends 'base.html.twig' %}

{% block title %}Gérer les avis{% endblock %}

{% block body %}
<div class="container">
    <h1>Gérer les avis</h1>

    <div class="avisList">
        <table class="table">
        <thead>
            <tr>
                <th>Note</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rating in ratings %}
            <tr class="avis">
                <td>{{ rating.rate }}</td>
                <td>{{ rating.description }}</td>
                <td>{{ rating.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('rate_edit', {'id': rating.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas d'avis</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
