{% extends 'base.html.twig' %}

{% block title %}Rating{% endblock %}

{% block body %}
    <h1>Rating</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rating.id }}</td>
            </tr>
            <tr>
                <th>username</th>
                <td>{{ user.pseudonyme }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ rating.createdAt ? rating.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ rating.rate }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ rating.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ rating.status ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('rate_index') }}">back to list</a>

    <a href="{{ path('rate_edit', {'id': rating.id}) }}">edit</a>

    {{ include('rate/_delete_form.html.twig') }}
{% endblock %}
