<form class="formGenre" name="genre" method="post">
    {{ form_widget(form.title, {'attr': {'placeholder': 'Titre'}})}}
    {{ form_widget(form.description, {'attr': {'placeholder': 'Description', 'style': 'max-width:273px; max-height:70px; overflow:none'}})}}
    {{ form_widget(form.img, {'attr': {'placeholder': 'Lien de l\'image'}})}}
    <button class="btn"><i class="fas fa-check"></i></button>
</form>