{% extends 'base.html.twig' %}

{% block title %}Modifier le genre{% endblock %}

{% block body %}
    <div class="backPrevious">
        <a href="{{ path('genre_index') }}"><i class="fas fa-arrow-left"></i></a>
    </div>

    <div class="container-new">
        <div class="newGenre">
            <h1>Modifier le genre {{genre.title}}</h1>
            {{ include('genre/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
{% endblock %}
