{% extends 'base.html.twig' %}

{% block title %}Liste des genres{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des genres</h1>
        <div class="genreList">
        {% for genre in genres %}
            <div class="genre">
                <h3>{{ genre.title }}</h3>
                <div class="genreContent">
                    <a href="{{ path('genre_show', {'id': genre.id}) }}"><img class="genreImg" src="{{ genre.img }}" alt="Image du jeu {{ genre.title }}"></a>
                </div>
            </div>
        {% endfor %}
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <div title="Ajouter un nouveau genre">
            <a href="{{ path('genre_new') }}"><i class="fas fa-plus"></i></a>
        </div>        
        {% endif %}
    </div>
{% endblock %}
