{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau genre{% endblock %}

{% block body %}
    <div class="backPrevious">
        <a href="{{ path('genre_index') }}"><i class="fas fa-arrow-left"></i></a>
    </div>
    <div class="container-new">
        <div class="newGenre">
            <h1>Créer un nouveau genre</h1>
            {{include('genre/_form.html.twig')}}
        </div>
    </div>
    
{% endblock %}