{% extends 'base.html.twig' %}

{% block title %}{{genre.title}}{% endblock %}

{% block body %}
    <div class="backPrevious">
        <a href="{{ path('genre_index') }}"><i class="fas fa-arrow-left"></i></a>
    </div>
    <div class="container-show">
        <div class="gameContent">
            <img class="gameImg show" src="{{ genre.img }}" alt="Image du jeu {{genre.title}}">
            <div class="gameDetails">
                <h1 class="gameTitle">{{genre.title}}</h1>
                <p class="gameDescription">{{genre.description}}</p>
                <div class="gameAdmin">
                    <a href="{{ path('genre_edit', {'id': genre.id}) }}"><i class="fas fa-edit"></i></a>
                    {{ include('genre/_delete_form.html.twig')}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
