{% extends 'base.html.twig' %}

{% block title %}Modification - {{ app.user.firstname }} {{ app.user.name }}{% endblock %}

{% block body %}
    <div class="backPrevious">
        <a href="{{ path('users') }}"><i class="fas fa-arrow-left"></i></a>
    </div>

        <div class="container-new">
        <div class="editUser">
            <h1>Hello {{ app.user.firstname }} ! ☺️</h1>
            <form class="formUser" name="user" method="post">
                {{ form_widget(editProfileForm.name, {'attr': {'placeholder': 'Votre nom'}})}}
                {{ form_widget(editProfileForm.firstname, {'attr': {'placeholder': 'Votre prénom'}})}}
                {{ form_widget(editProfileForm.pseudonyme, {'attr': {'placeholder': 'Votre pseudo'}})}}
                {{ form_widget(editProfileForm.email, {'attr': {'placeholder': 'Votre email'}})}}
                <button class="btn"><i class="fas fa-check"></i></button>
            </form>
        </div>
    </div>

{% endblock %}