{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.pseudonyme }}{% endblock %}

{% block body %}
<div class="container">
    <div class="showUser">
        <h1>Hello {{ app.user.firstname }} ! ☺️</h1>
        <p><strong>Prénom</strong> : {{ app.user.firstname }}</p>
        <p><strong>Nom</strong> : {{ app.user.name }}</p>
        <p><strong>Adresse email</strong> : {{ app.user.email }}</p>
        <a href="{{ path('users_profil_edit') }}">Modifier le profil</a><br>
        <a href="{{ path('app_forgot_password_request') }}">Modifier le mot de passe</a>
    </div>
</div>
{% endblock %}
