*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    margin: 25px 0;
    text-align: center;
}

.container {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar */
.navbar {
    width: 100%;
    height: 100px;
    background-color: #113B5B;
    border-bottom: solid 1px white;
}

.container-fluid{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}

.container-fluid button{
    display: none;
}

.navbar-brand{
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
}

.collapse {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-nav{
    height: 100%;
    display: flex;
}

.nav-item{
    margin: 0 5px;
    list-style: none;
}

.nav-item a{
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    margin: 15px 0;
}

.nav-item a:hover{
    color: #FFD447;
    border-bottom: #FFD447 5px solid;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    text-align: center;
    position: absolute;
    background-color: #f9f9f9;
    width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 15px;
    z-index: 1;
}

.dropdown-content a{
    /* padding: 10px 16px; */
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #113B5B;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.username-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.username{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin: 0 10px;
}

.username:hover{
    color: #FFD447;
    border-bottom: #FFD447 5px solid;
}

.username::after{
    content: "\f0dd";
    font-family: "Font Awesome 5 Free";
}

/* Slideshow container */
.slideshow-container {
    height: 840px;
    width: 100%;
    position: relative;
    margin: auto;
}

.mySlides{
    display: none;
    width: 100%;
    height: 100%;
}

.mySlides img{
    width: 100%;
    height: 840px;
}

/* Caption buttons */
.buttons {
    display: flex;
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 200px;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.buttons a{
    text-decoration: none;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 800;
    text-transform: none;
    background-color: #FFCC1D;
    color: #113B5B;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 50%)
}

.buttons a:hover{
    color: #113B5B;
    background-color: #FFF;
}

.btnShowGame{
    background-color: #FFCC1D;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #FFCC1D;
    background-color: #113B5B;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
.text {
    font-size: 75px;
    font-weight: 700;
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
}

.text a{
    text-decoration: none;
    color: #FFCC1D;
}

.text p{
    font-family: 'Racing Sans One', cursive;
    margin: 0;
}


/* Page game list */

.container-game{
    width: 75%;
    height: 700px;
    display: flex;
}

.sideFilter{
    background-color: red;
    width: 25%;
    height: 100%;
}

.gameList{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.game{
    background-color: #113B5B;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 15px 20px 15px;
    padding: 10px;
}

.textContent{
    width: 50%;
    height: 100%;
}

.textContent h3{
    font-family: 'Racing Sans One';
    color: #FFCC1D;
    font-size: 35px;
}

.textContent p{
    font-family: 'Poppins';
    color: white;
    width: 75%;
    margin: auto;
}

.imgContent{
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.game a{
    margin: 5px 0;
}

.gameImg{
    width: 100%;
}

.gameInfo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.gamePlay{
    margin: auto;
}

.gamePlay a{
    text-decoration: none;
    color: white;
    font-size: 50px;
}

/*
.rating{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    z-index: 2;
}

.rating p{
    z-index: 3;
    margin: auto;
    color: white;
}

.game a{
    margin: 5px 0;
    text-decoration: none;
}

.gameImg{
    width: 100%;
} */

.fa-plus{
    font-size: 25px;
    color: green;
}

/* Page game show */
.backPrevious{
    margin: 15px 20px;
}

.backPrevious a{
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.container-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 50px 0;
}

.gameContent{
    display: flex;
    justify-content: center;
    height: 100%;
    margin: auto 0;
}

.gameDetails{
    margin-left: 25px;
    width: 45%;
}

.gameImg.show{
    width: 35%;
}

.gameAdmin{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameAdmin i{
    font-size: 20px;
}

.gameAdmin a{
    color: green;
}

.btn{
    cursor: pointer;
    color: red;
    background-color: transparent;
    border: none;
}
/* Avis */

.showComment{
    text-align: center;
}

.comments{
    display: flex;
    flex-direction: column;
}

.comments p{
    margin: 0;
    padding: 0;
}
.comments p.userComment{
    margin: 5px 0;
}
.comments p.right{
margin-left: 205px;
}

.formComment{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formComment input, .formComment textarea{
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 15px;
    height: 35px;
    font-size: 20px;
}

.formComment button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Page genre list */

.genreList{
    margin-top: 50px;
    display: flex;
}

.genre{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 15px;
    position: relative;
}

.genreContent{
    position: relative;
    z-index: 1;
}

.genre h3{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    z-index: 2;
    margin: 40% 0;
}
/* Create new game */
.container-new{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.newGame, .newGenre, .newRating, .editUser, .resetPassword, .newLogin, .newUser{
    width: 35%;
    background-color: #113B5B;
    color: #FFCC1D;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.newUser{
    height: 500px;
}

.formGame, .formGenre, .formRating, .formUser, .formReset, .formLogin, .newUser form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Poppins";
}

.newUser .required{
    display: none;
}

.formGame input, .formGame textarea, .formGenre input, .formGenre textarea, .formRating input, .formRating textarea, .formUser input, .formReset input, .formLogin input, .newUser input{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0 15px;
    height: 35px;
    font-size: 20px;
    color: #FFCC1D;
    border-bottom: 3px solid #FFCC1D;
}

.formRegister input{
    margin-bottom: 10px;
}

#game_genre{
    font-family: "Poppins";
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
    padding: 0 15px;
    font-size: 20px;
    color: #FFCC1D;
    border-bottom: 3px solid #FFCC1D;
    overflow-y: auto;
}

.fa-check{
    color: green;
    font-size: 25px;
}

/* Page avis (seulement pour l'admin) */
.avisList{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}


.avisList .avis{
    text-align: center;
}

/*Page modifier avis */
.status{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Page utilisateur */
.showUser{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showUser a{
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: #113B5B;
}



/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* CSS add par Théo */

  .img-game-int { 
      width: 100%;
  }
