{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="container-new">
        <div class="newLogin">
            <h1>Se connecter</h1>
            <form class="formLogin" action="{{ path('login') }}" method="post">
                <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Votre email"/>
                <input type="password" id="password" name="_password" placeholder="Votre mot de passe"/>

                {# If you want to control the URL the user is redirected to on success
                <input type="hidden" name="_target_path" value="/account"/> #}

                <button class="btn"><i class="fas fa-check"></i></button>
            </form>
        </div>
    </div>
{% endblock %}
