{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="slideshow-container">
  <!-- Full-width images with number and caption text -->
    {% for game in games %}
    <div class="mySlides fade">
        <img src="{{ game.img }}">
        <div class="buttons">
          <a class="btnShowGame" href="{{ path('game_show', {'id': game.id}) }}">Découvrir le jeu</a>

          <a href="#">Jouer</a>
        </div>
        
    </div>
    {% endfor %}
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

{% endblock %}
