{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        Nous avons correctement accepté votre demande de changement de mot de passe, un email de confirmation vous a été envoyé, il expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous n'avez rien reçu, verifier vos spams, ou réessayer en <a href="{{ path('app_forgot_password_request') }}">cliquant ici</a>.</p>
{% endblock %}
