{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="backPrevious">
        <a href="{{ path('users') }}"><i class="fas fa-arrow-left"></i></a>
    </div>
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container-new">
        <div class="resetPassword">
            <h1>Réinitialiser votre mot de passe</h1>
            <form class="formReset" name="reset" method="post">
                {{ form_widget(requestForm.email, {'attr': {'placeholder': 'Votre email'}})}}
                <small>
                    Entrer votre adresse mail, nous allons vous envoyez un mail pour réinitialiser votre mot de passe
                </small>
                <button class="btn"><i class="fas fa-check"></i></button>
            </form>
        </div>
    </div>
{% endblock %}
