<form method="post" action="{{ path('game_delete', {'id': game.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer le jeu {{ game.title }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ game.id) }}">
    <button class="btn"><i class="fas fa-trash"></i></button>
</form>
