<form class="formGame" name="game" method="post">
    {{ form_widget(form.title, {'attr': {'placeholder': 'Titre'}})}}
    {{ form_widget(form.description, {'attr': {'placeholder': 'Description', 'style': 'max-width:273px; max-height:70px; overflow:none'}})}}
    {{ form_widget(form.img, {'attr': {'placeholder': 'Lien de l\'image'}})}}
    {{ form_widget(form.link, {'attr': {'placeholder': 'Lien vers le jeu'}} )}}
    {{ form_widget(form.genre)}}
    {{ form_row(form._token) }}
    <button class="btn"><i class="fas fa-check"></i></button>
</form>
