{% extends 'base.html.twig' %}

{% block title %}Modifier un jeu{% endblock %}

{% block body %}
    <div class="backPrevious">
        <a href="{{ path('game_index') }}"><i class="fas fa-arrow-left"></i></a>
    </div>

    <div class="container-new">
        <div class="newGame">
            <h1>Modifier le jeu {{game.title}}</h1>
            {{ include('game/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
    


    {# {{ include('game/_delete_form.html.twig') }} #}
{% endblock %}
