{% extends 'base.html.twig' %}

{% block title %}Liste des jeux{% endblock %}

{% block body %}
    <h1>Liste des jeux</h1>
            {% if is_granted('ROLE_ADMIN') %}
            <div title="Ajouter un nouveau jeu">
                <a href="{{ path('game_new') }}"><i class="fas fa-plus"></i></a>
            </div>        
        {% endif %}
    <div class="container-game">
        <div class="sideFilter">
        </div>
        <div class="gameList">  
            {% for game in games %}
                <div class="game">
                    <div class="textContent">
                        <h3>{{ game.title }}</h3>
                        <p>{{game.description}}</p>
                    </div>
                    <div class="imgContent">
                        <a href="{{ path('game_show', {'id': game.id}) }}"><img class="gameImg" src="{{ game.img }}" alt="Image du jeu {{ game.title }}"></a>
                        <div class="gameInfo">
                            <div class="gameType">
                                <p class="gameGenre"><strong>Genre:</strong>
                                    {% for genre in game.genre %}
                                    {{genre}}
                                    {% endfor %}
                                </p>
                                <p class="gameDate"><strong>Date d'ajout:</strong>
                                    {{game.createDate|date("d/m/Y")}}
                                </p>
                                {% if is_granted('ROLE_ADMIN')%}
                                <div class="gameAdmin">
                                    <a href="{{ path('game_edit', {'id': game.id}) }}"><i class="fas fa-edit"></i></a>
                                    {{ include('game/_delete_form.html.twig') }}
                                </div>
                                {% endif %}
                            </div>
                            <div class="gamePlay">
                                <a href=""><i class="fas fa-play"></i></a>
                                <div class="favoris">
                                    {% if is_granted('ROLE_USER') %}
                                        {% for favoris in game.user %}
                                            {% if favoris.id == app.user.id %}
                                                <a href="{{ path('remove_favorites', {'id': game.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e74c3c"><path d="M86,162.71469l-2.20375,-1.8275c-4.17906,-3.49375 -9.83625,-7.28312 -16.39375,-11.66375c-25.54469,-17.10594 -60.5225,-40.51406 -60.5225,-80.42344c0,-24.65781 20.06219,-44.72 44.72,-44.72c13.39719,0 25.94781,5.96625 34.4,16.16531c8.45219,-10.19906 21.00281,-16.16531 34.4,-16.16531c24.65781,0 44.72,20.06219 44.72,44.72c0,39.90938 -34.97781,63.3175 -60.5225,80.42344c-6.5575,4.38063 -12.21469,8.17 -16.39375,11.66375z"></path></g></g></svg></a>
                                            {% else %}
                                                <a href="{{ path('add_favorites', {'id': game.id}) }}"><img src="https://img.icons8.com/ios-filled/50/000000/like--v1.png"/></a>
                                            {% endif %}

                                            {% else %}
                                                <a href="{{ path('add_favorites', {'id': game.id}) }}"><img src="https://img.icons8.com/ios-filled/50/000000/like--v1.png"/></a>  
                                            {% endfor %}
                                        {% else %}
                                            <a href="{{ path('remove_favorites', {'id': game.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e74c3c"><path d="M86,162.71469l-2.20375,-1.8275c-4.17906,-3.49375 -9.83625,-7.28312 -16.39375,-11.66375c-25.54469,-17.10594 -60.5225,-40.51406 -60.5225,-80.42344c0,-24.65781 20.06219,-44.72 44.72,-44.72c13.39719,0 25.94781,5.96625 34.4,16.16531c8.45219,-10.19906 21.00281,-16.16531 34.4,-16.16531c24.65781,0 44.72,20.06219 44.72,44.72c0,39.90938 -34.97781,63.3175 -60.5225,80.42344c-6.5575,4.38063 -12.21469,8.17 -16.39375,11.66375z"></path></g></g></svg></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
