{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau jeu{% endblock %}

{% block body %}
    <div class="backPrevious">
        <a href="{{ path('game_index') }}"><i class="fas fa-arrow-left"></i></a>
    </div>
    <div class="container-new">
        <div class="newGame">
            <h1>Créer un nouveau jeu</h1>
            {{include('game/_form.html.twig')}}
        </div>
    </div>
    
{% endblock %}
