{% extends 'base.html.twig' %}

{% block title %}{{game.title}}{% endblock %}

{% block body %}
    <div class="backPrevious">
        <a href="{{ path('game_index') }}"><i class="fas fa-arrow-left"></i></a>
    </div>
    <div class="container-show">
        <div class="gameContent">
            <img class="gameImg show" src="{{ game.img }}" alt="Image du jeu {{game.title}}">
            <div class="gameDetails">
                <h1 class="gameTitle">{{game.title}} {{game.meanRate}}/5</h1>
                <p class="gameDescription">{{game.description}}</p>
                <p class="gameGenre"><strong>Genre:</strong>
                    {% for genre in game.genre %}
                    {{genre}}
                    {% endfor %}
                </p>
                {% if is_granted('ROLE_ADMIN')%}
                <div class="gameAdmin">
                    <a href="{{ path('game_edit', {'id': game.id}) }}"><i class="fas fa-edit"></i></a>
                    {{ include('game/_delete_form.html.twig') }}
                </div>
                {% endif %}
            </div>
        </div>
        <section class="showComment" id="rating">
        <h2>Avis : </h2>
        <div class="comments">
        {% for rating in game.ratings %}
            {% if rating.status == 1 %}
                    <p><strong>Avis de </strong>{{rating.user.pseudonyme}} | {{ rating.rate }} / 5</p>
                    <p class="userComment">{{rating.description | raw }}</p>
                    <p class="right">{{rating.CreatedAt | date("d/m/Y")}}</p>
                    <hr>
                {% else %}
            {% endif %} 
        {% endfor %}
        </div>
    </section>

    {% if is_granted('ROLE_USER')%}
    <section class="formComment" id="formComment">
    <h2>Laisser un avis : </h2>
        {# {{ form_start(ratingComment)}}
                {{ form_row(ratingComment.description, {'attr' : {'placeholder' : " votre avis"}})}}
                {{ form_row(ratingComment.rate, {'attr' : {'placeholder' : " votre note /5"}})}} #}
        {{ form_widget(ratingComment.description, {'attr': {'placeholder': 'Votre avis'}})}}
        {{ form_widget(ratingComment.rate, {'attr': {'placeholder': 'Votre note sur 5'}})}}
        <button type="submit"><i class="fas fa-check"></i></button>
    </section>
    {% endif %}
    </div>
{% endblock %}
