{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <div class="container-new">
        <div class="newUser">
            <h1>S'inscrire</h1>
            {# <form class="formRegister" name="registration_form" method="post"> #}
            {{ form_start(registrationForm) }}
                {{ form_widget(registrationForm.name, {'attr': {'placeholder': 'Votre nom'}})}}
                {{ form_widget(registrationForm.firstname, {'attr': {'placeholder': 'Votre prénom'}})}}
                {{ form_widget(registrationForm.pseudonyme, {'attr': {'placeholder': 'Votre pseudo'}})}}
                {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Votre email'}})}}
                {{ form_row(registrationForm.plainPassword, {label: 'Password', 'attr': {'placeholder': 'Votre mot de passe'}}) }}
                <label for="registration_form_agreeTerms">Accepter les conditions</label>
                {{ form_row(registrationForm.agreeTerms) }}
                <button type="submit" class="btn"><i class="fas fa-check"></i></button>
            {{ form_end(registrationForm) }}
            {# </form> #}
        </div>
    </div>
{% endblock %}
