<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
           <!-- CSS only -->
        <link rel="stylesheet" href="{{asset('css/styles.css')}}">
        <script src="https://kit.fontawesome.com/8334dc67da.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
        {# <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css"> #}
        <link rel="shortcut icon" href="{{asset('favicon.png')}}" type="image/x-icon">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>

  <body>

      <nav class="navbar">
        <div class="container-fluid">
          <p class="navbar-brand" >ZETA</p>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/">Accueil
                </a>
              
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/game">Jeux</a>
              </li>
              {% if is_granted('ROLE_ADMIN') %}
              <li class="nav-item">
                <a class="nav-link" href="/genre">Genre</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/rate">Avis</a>
              </li>
            {% endif %}

              {% if is_granted('ROLE_USER') %}

              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/register">Signup</a>
              </li>
              {% endif %}
            </ul>
            {% if is_granted('ROLE_USER') %}
            <div class="dropdown">
              <div class="username-content"><p class="username">Hello {{app.user.pseudonyme}}</p></div>
              <div class="dropdown-content">
                <a class="nav-link" href="/users">Profile</a><br>
                <a class="nav-link" href="/logout">Logout</a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </nav>


        {% block body %}{% endblock %}
        <script src="{{asset('js/index.js')}}"></script>
  </body>
</html>
 